:root {
    --color-primary: #27E0B3;
    --color-secondary: #eadbdb;
    --color-accent: #38BDF8;
    --color-background: #0C0C0C;
    --color-background2: #232323;
    --color-text: #eadbdb;
    --color-text-hover: #fff;
}

body {
    background-color: var(--color-background2);
}


input::placeholder {
    color: #64748b;
    opacity: 1;
}