:root {
    --color-primary: #EA763F;
    --color-secondary: #1E293B;
    --color-accent: #38BDF8;
    --color-background: #F8FAFC;
    --color-text: #0F172A;
    --color-text-hover: #fff;
}


input::placeholder {
    color: #64748b;
    opacity: 1;
}